html {
  height: 100%;
  width: 100%;
}

body {
  background: rgb(242, 242, 242);
}

main {
  z-index: 1;
}

h1 {
  z-index: 1;
}

.topnav {
  background-color: #ebebeb;
  overflow: hidden;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topnav div:not(.dropdown-content) {
  float: left;
}

.topnav a:hover:not(a.active, button.active.dropdown-button),
.topnav button:hover:not(a.active, button.active.dropdown-button) {
  background-color: #aeaeae;
  color: black;
}

a.active,
button.active.dropdown-button {
  color: rgb(255, 255, 255);
  background-color: #000000;
}

.dropdown {
  float: left;
  overflow: hidden;
  z-index: 10;
}

.dropdown .dropdown-button {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: #ebebeb;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  z-index: 10;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 100;
  background-color: #ebebeb;
}

.dropdown-content a:hover:not(a.active, button.active.dropdown-button) {
  background-color: #ddd;
}

a.active:hover,
button.active.dropdown-button:hover {
  background-color: #5a5a5a;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.container {
  display: inline-block;
  cursor: pointer;
}

.energy-buttons button {
  width: 200px;
  height: 200px;
  display: inline-block;
  text-decoration: none;
  border-radius: 10%;
  margin: 20px;
}

.energy-buttons button a {
  text-decoration: none;
  position: relative;
  display: block;
  height: 100%;
  font-size: 20px;
  color: black;
}